@import "globals";
@import "AddColorForm"; 
@import "Color"; 
@import "ColorList"; 
@import "Star"; 

/* 
We import all scss here so that they're all processed.  
*/ 



html, body, div#react-container {
  min-height: 100%;
}

h1 {
  @include clear;
}

body {

  @include clear;
  @include fade-bg($light, $light-grey);

  div.app {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

}

input {
  outline: none;
}